@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

.hamburger{
    display: none;
}

/* shared css  */


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}
.justify-content-b{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}


.btn-primary{
    background: linear-gradient(19deg,#F7E93F,#FB09B4,#9100F8);
    padding: 13px 15px;
    border: none;
    border-radius: 1000px;
    text-transform: capitalize;
    font-weight:500;
    color: #fff;
    text-decoration: none;
}

.btn-transparent{
    padding: 13px 15px;
    border: 1px solid #00FF88;
    color: #00FF88;
    background: transparent;
    border-radius: 1000px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
}


.big-layout{
    grid-row: span 2;
    align-content: center;
}

.medium-layout{
    grid-column: span 2;
}


/* main css  */

.top-bar{
    background: #1A0B2E;
    padding: 30px;
}


.logo h3{
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
}

.logo h3 span,
.logo h2 span{
    background-image: linear-gradient(5deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-menu ul{
    gap: 30px;
    list-style: none;
}

.main-menu ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
}


/* hero section  */

.hero-section{
    background: url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    vertical-align: middle;
    min-height:760px;
}


.hero-section-content{
    justify-items: center;
    text-align: center;
}


.hero-microphone{
    background: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    padding: 70px 0 80px;
    margin-bottom: 40px;
    position: relative;
}

.hero-microphone:before{
    content: 'new';
    position: absolute;
    background: #00FF88;
    padding: 8px 15px;
    border-radius: 1000px;
    text-transform: uppercase;
    color: #1A0B2E;
    font-size: 1.25rem;
    font-weight: 600;
    top: 10px;
    right: 150px;
    animation-name: newbutton;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes newbutton {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}



.hero-microphone img{
    width: 115px;
}


.hero-t-des{
    color: #ffffff91;
    margin-bottom: 25px;
}

.hero-t-des h1{
    font-size: 3.75rem;
    text-transform: capitalize;
    font-weight: 900;
    color: #fff;
    margin-bottom: 8px;
}

.hero-btn a{
    display: inline-block;
    margin-right: 10px;
}



/* prodcust section  */

.prodcust{
    background: #1A0B2E;
}

.prodcust-section{
    padding: 50px 0;
}

.section-title h2{
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 20px;
    font-size: 3rem;
}


.section-des p{
    color: #ffffff91;
    line-height: 40px;
    text-align: center;
    margin-bottom:50px;
}

hr{
    color: #fff;
}




.prodcust-details{
    margin-top: 80px;
}

.prodcust-details .details{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}

.detail-des h4{
    color: #00FF88;
    font-size: 3rem;
    font-weight: black;
}

.detail-des p{
    color: #ffffff91;
    text-transform: capitalize;
    line-height: 20px;
}



/* service section  */

.service{
    background: #230E3D;
    padding: 120px 0;
}

.services{
    margin-top: 40px;
}


.service-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;

}

.service-items .items{
    padding: 40px;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.service-items .items img{
    width: 60px;
    height: auto;
}

.service-items .items h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 15px 0;
}

.service-items .items p{
    color: #ffffff91;
    line-height: 24px;
}




/* feature  */

.feature{
    background: #1A0B2E;
    padding: 120px 0;
}


.feature-content{
    margin-top: 40px;
}

.feature-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.feature-items .feature-card{
    background: #250D44;
    border-radius: 40px;
}

.feature-items .feature-card iframe{
    border: none;
    border-radius: 40px 40px 0 0;
}

.feature-items .feature-card .card-content{
    padding: 24px;

}


.feature-items .feature-card .card-content h4{
    color: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 12px;
}
.feature-items .feature-card .card-content p{
    color: #ffffff91;
    line-height: 24px;
    margin-bottom: 12px;
}

.timer p{
    color: #00FF88 !important;
}



/* host section  */

.host{
    background: #1A0B2E;
    padding: 120px 0;
}

.host-content{
    margin-top: 40px;
}

.host-item{
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    gap: 24px;
    border-radius: 40px;
}

.host-image img{
    max-width: 200px ;
    height: auto;
}

.host-t-des h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 15px;
}

.host-t-des p{
    color: #ffffff91;
    line-height: 24px;
    margin-bottom: 15px;
}
.host-icons{
    gap: 20px;
}

.host-icon-img{
    padding: 10px;
    border: 1px solid #ffffff91;
    border-radius: 50%;
}

.host-icons img{
    max-width: 20px;
    max-height: 20px;
}



/* footer section  */

.footer{
    background: url('./assets/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 412px;
    padding: 120px 0;
    vertical-align: middle;
}

.footer-content{
    justify-items: center;
}

.footer-logo h2{
    font-size: 3.75rem;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 32px;
}

.footer-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin-bottom: 30px;
}

.footer-links a{
    text-decoration: none;
    color: #ffffff91;
    text-transform: capitalize;
    font-weight: 500;
    gap: 5px;
}

.footer-links a img{
    width: 22px;
}

.footer-copyright p{
    color: #ffffff91;

}





/* mobile devie  */

@media screen and (max-width: 576px) {
    .hamburger{
        display: block;
    }
    .main-menu,
    .top-btn{
        display: none;
    }

    .prodcust-details .details{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    .hero-microphone:before{
        right: 130px;
    }
    .service-items{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        margin: 0 20px;
    }
    .items{
        grid-column: auto;
    }
    .feature-items{
        grid-template-columns: repeat(1,1fr);
        margin: 0 20px;
    }
    .host-item{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .host-content{
        margin: 0 20px;
    }

    .footer-icons{
        grid-template-columns: repeat(2,1fr);
    }
}







