@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

.hamburger{
    display: none;
}

/* shared css  */


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}
.justify-content-b{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}


.btn-primary{
    background: linear-gradient(19deg,#F7E93F,#FB09B4,#9100F8);
    padding: 13px 15px;
    border: none;
    border-radius: 1000px;
    text-transform: capitalize;
    font-weight:500;
    color: #fff;
    text-decoration: none;
}

.btn-transparent{
    padding: 13px 15px;
    border: 1px solid #00FF88;
    color: #00FF88;
    background: transparent;
    border-radius: 1000px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
}




/* main css  */

.top-bar{
    background: #1A0B2E;
    padding: 30px;
}


.logo h3{
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
}

.logo h3 span{
    background-image: linear-gradient(5deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-menu ul{
    gap: 30px;
    list-style: none;
}

.main-menu ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
}


/* hero section  */

.hero-section{
    background: url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    vertical-align: middle;
    min-height:760px;
}


.hero-section-content{
    justify-items: center;
    text-align: center;
}


.hero-microphone{
    background: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    padding: 70px 0 80px;
    margin-bottom: 40px;
}


.hero-microphone img{
    width: 115px;
}


.hero-t-des{
    color: #fff;
    margin-bottom: 25px;
}

.hero-t-des h1{
    font-size: 3.75rem;
    text-transform: capitalize;
    font-weight: 900;
    color: #fff;
    margin-bottom: 8px;
}

.hero-btn a{
    display: inline-block;
    margin-right: 10px;
}



/* prodcust section  */

.prodcust{
    background: #1A0B2E;
}

.prodcust-section{
    padding: 50px 0;
}

.section-title h2{
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 20px;
    font-size: 3rem;
}


.section-des p{
    color: #fff;
    line-height: 40px;
    text-align: center;
    margin-bottom:50px;
}

hr{
    color: #fff;
}




.prodcust-details{
    margin-top: 80px;
}

.prodcust-details .details{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}

.detail-des h4{
    color: #00FF88;
    font-size: 3rem;
    font-weight: black;
}

.detail-des p{
    color: #fff;
    text-transform: capitalize;
    line-height: 20px;
}



/* mobile devie  */

@media screen and (max-width: 576px) {
    .hamburger{
        display: block;
    }
    .main-menu,
    .top-btn{
        display: none;
    }

    .prodcust-details .details{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}







